 
 .container{
     width: 95%;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .card{
     width: 370px;
 }

 .first{
     border-bottom: 12px solid rgba(255,0,0,.5);
 }
 .second{
    border-bottom: 12px solid rgba(0,255,0, .5);
}
.third{
    border-bottom: 12px solid rgba(0,0,255,.5);
}