 body{
     background: rgba(123,156,184,.5);
 }

 /* styling all contents */
 .container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .img{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 170px;
      margin-top: 1%;
 }
 
 @media screen and (max-width: 820px) {
    .img {
      width: 98%;
    }
  }